# IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Java / Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*

# Environment Variables (Security)
.env
*.env